> ### Note on Labs and Assigments:
>
> ðŸ”§ Look for the **wrench emoji** ðŸ”§ â€” it highlights where you're expected to take action!
>
> These sections are graded and are not optional.
>

# **IS 4487 LAB 6 - DATA PREPARATION I: CLEANING AND VALIDATING**

## Outline

- Load and inspect a new dataset (Megatelco)
- Fix column names: cleaning string variables
- Fix data types
- Handle missing values using multiple techniques
- Remove duplicate rows
- Review and remove outliers using multiple techniques
- Reflect on data quality

In this lab, weâ€™ll clean the data to get it ready for transformations and analysis.

We will continue working with this dataset in **Lab 7**, where we will create new features and apply transformations.

<a href="https://colab.research.google.com/github/vandanara/UofUtah_IS4487/blob/main/Labs/lab_06_data_cleaning.ipynb" target="_parent">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Context: Churn at a telecom company

MegaTelCo is one of the largest telecommunication firms in the United States. They are having a major problem with customer retention in their wireless business. In the mid-Atlantic region, 20% of cell phone customers leave when their contracts expire, and it is getting increasingly difficult to acquire new customers. Since the cell phone market is now saturated, the huge growth in the wireless market has tapered off.

Communications companies are now engaged in battles to attract each other's customers while retaining their own. Customers switching from one company to another is called churn, and it is expensive all around: one company must spend on incentives to attract a customer while another company loses revenue when the customer departs. We have been called in to help understand the problem and to devise a solution.

Source: Provost, Foster, Fawcett, Tom. (2013). Data Science for Business: What You Need to Know about Data Mining and Data-Analytic Thinking . Sebastopol, California: O\'Reilly.

## Megatelco Data Dictionary

 DEMOGRAPHIC VARIABLES:
 - College - has the customer attended some college (one, zero)
 - Income - annual income of customer
 - House - estimated price of the customer's home (if applicable)

 USAGE VARIABLES:
 - Data Overage Mb - Average number of megabytes that the customer used in excess of the plan limit (over last 12 months)
 - Data Leftover Mb - Average number of megabytes that the customer use was below the plan limit (over last 12 months)
 - Data Mb Used - Average number of megabytes used per month (over last 12 months)
 - Text Message Count - Average number of texts per month (over last 12 months)
 - Over 15 Minute Calls Per Month - Average number of calls over 15 minutes in duration per month (over last 12 months)
 - Average Call Duration- Average call duration (over last 12 months)

PHONE VARIABLES:
 - Operating System - Current operating system of phone
 - Handset Price - Retail price of the phone used by the customer

ATTITUDINAL VARIABLES:
 - Reported Satisfaction - Survey response to "How satisfied are you with your current phone plan?" (high, med, low)
 - Reported Usage Level - Survey response to "How much do your use your phone?" (high, med, low)
 - Considering Change of Plan - Survey response to "Are you currently planning to change companies when your contract expires?" (high, med, low)

OTHER VARIABLES
 - Leave - Did this customer churn with the last contract expiration? (LEAVE, STAY)
 - ID - Customer identifier

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/vandanara/UofUtah_IS4487/refs/heads/main/DataSets/megatelco_leave_survey_data_cleaning.csv"
df = pd.read_csv(url)

df.head()

,college,income,data_overage_mb,data_leftover_mb,data_mb_used,text_message_count,house,handset_price,over_15mins_calls_per_month,average_call_duration,reported_satisfaction,reported_usage_level,considering_change_of_plan,leave,id,operating_system
0,one,403137.0,70,0.0,6605.0,199,841317,653.0,5.0,8.0,low,low,yes,LEAVE,8183,Android
1,zero,129700.0,67,16.0,6028.0,134,476664,1193.0,5.0,5.0,low,low,yes,LEAVE,12501,IOS
2,zero,69741.0,60,0.0,1482.0,176,810225,1037.0,3.0,8.0,low,low,yes,STAY,7425,IOS
3,one,377572.0,0,22.0,3005.0,184,826967,1161.0,0.0,5.0,low,low,no,LEAVE,13488,IOS
4,zero,382080.0,0,0.0,1794.0,74,951896,1023.0,0.0,14.0,low,low,yes,STAY,11389,IOS

In [2]:
# create a copy of your dataset for use in part 4
copied_df = df.copy(deep=True)

## **Part 1: Review Column Names and Structure**

Before cleaning, check the structure of the dataset:

- Check the shape
- Are column names good?
    - consistent (lowercase, no spaces)?
    - any typos or redundant labels?


Why this matters:
Inconsistent or messy column names can break code and make analysis harder to follow.

In [3]:
# rows and columns
print(df.shape)

# Get column info and data types
df.info()

# Standardize column names: lowercase, no spaces
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

(15016, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15016 entries, 0 to 15015
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   college                      15016 non-null  object
 1   income                       15006 non-null  float64
 2   data_overage_mb              15016 non-null  int64
 3   data_leftover_mb             14916 non-null  float64
 4   data_mb_used                 14916 non-null  float64
 5   text_message_count           15016 non-null  int64
 6   house                        15016 non-null  int64
 7   handset_price                14916 non-null  float64
 8   over_15mins_calls_per_month  15013 non-null  float64
 9   average_call_duration        14916 non-null  float64
 10  reported_satisfaction        15016 non-null  object
 11  reported_usage_level         15016 non-null  object
 12  considering_change_of_plan   14201 non-null  object
 13  leave                        15016 non-null  object
 14  id                           15016 non-null  int64
 15  operating_system             15016 non-null  object
dtypes: float64(6), int64(4), object(6)
memory usage: 1.8+ MB

## **Part 2: Convert Data Types**

Before analysis, make sure each column is stored in the correct format. This helps avoid calculation errors, makes plotting smoother, and ensures models interpret the data correctly.

Think about:
- Are numbers accidentally stored as strings?
- Should repeated text values be converted to categories?
- Are "yes"/"no" columns better represented as binary (0/1) or categorical types?

Fixing data types now saves time and avoids issues later in your workflow.

In [7]:
# Check original data types
print("Original dtypes:\n", df.dtypes)

# Convert yes/no to binary categories
df['considering_change_of_plan'] = df['considering_change_of_plan'].map({'yes': 1, 'no': 0}).astype('category')

# Convert object/text columns with limited possible values with an order to ordinal categorical columnns
obj_to_cat_cols = ['reported_satisfaction', 'reported_usage_level']
for each in obj_to_cat_cols:
    df[each] = pd.Categorical(df[each], categories = ['low', 'medium', 'high'], ordered = True)

#df['college'] = df['college'].astype('category')
#df['reported_satisfaction'] = df['reported_satisfaction'].astype('category')
#df['operating_system'] = df['operating_system'].astype('category')
#df['reported_usage_level'] = df['reported_usage_level'].astype('category')

# Convert numeric-looking columns from object to float
#df['income'] = pd.to_numeric(df['income'], errors='coerce')
#df['data_overage_mb'] = pd.to_numeric(df['data_overage_mb'], errors='coerce')
#df['data_leftover_mb'] = pd.to_numeric(df['data_leftover_mb'], errors='coerce')
#df['data_mb_used'] = pd.to_numeric(df['data_mb_used'], errors='coerce')
#df['text_message_count'] = pd.to_numeric(df['text_message_count'], errors='coerce')
#df['over_15mins_calls_per_month'] = pd.to_numeric(df['over_15mins_calls_per_month'], errors='coerce')
#df['average_call_duration'] = pd.to_numeric(df['average_call_duration'], errors='coerce')

obj_to_float_cols = ['income', 'data_overage_mb', 'data_leftover_mb', 'data_mb_used', 'text_message_count', 'over_15mins_calls_per_month', 'average_call_duration']
for each in obj_to_float_cols:
    df[each] = pd.to_numeric(df[each], errors='coerce')


# Check updated data types
print("\nUpdated dtypes:\n", df.dtypes)

Original dtypes:
 college                         object
income                         float64
data_overage_mb                  int64
data_leftover_mb               float64
data_mb_used                   float64
text_message_count               int64
house                            int64
handset_price                  float64
over_15mins_calls_per_month    float64
average_call_duration          float64
reported_satisfaction           object
reported_usage_level            object
considering_change_of_plan      object
leave                           object
id                               int64
operating_system                object
dtype: object

Updated dtypes:
 college                          object
income                          float64
data_overage_mb                   int64
data_leftover_mb                float64
data_mb_used                    float64
text_message_count                int64
house                             int64
handset_price                   float64
over_15mins_calls_per_month     float64
average_call_duration           float64
reported_satisfaction          category
reported_usage_level           category
considering_change_of_plan     category
leave                            object
id                                int64
operating_system                 object
dtype: object

### **ðŸ”§ Try It Yourself â€“ Part 2**

1. Convert the `leave` column from "yes"/"no" to binary (`1`/`0`) and make it a **category**
2. Convert `reported_usage_level` to a **categorical** type
3. Use `.info()` to confirm the changes

In [ ]:
# ðŸ”§ 1.1. add code here


# ðŸ”§ 1.2. add code here


# ðŸ”§ 1.3. add code here

## Part 3: Handle Missing Values

Missing data can break charts, skew stats, and disrupt models â€” so it needs to be handled carefully.

### Think about:
- Are the missing values random or patterned?
- Can we drop rows, or do we need to fill them?
- Should we use mean, median, or something else?

### Guidelines:
- Drop rows only if few are missing and the column is essential.
- Use **median** for numeric columns with outliers.
- Use **0** if missing logically means "none" (e.g., no leftover data).
- Use **mode** for categorical values.

Cleaning missing values early avoids bigger problems later.

-----


### A Note on `.loc` and Warnings

When assigning values to a DataFrame, especially after filtering or copying, it's best to use `.loc` to avoid **`SettingWithCopyWarning`**. This ensures that you're updating the original data and not a temporary view of it.

In [8]:
# View missing value counts
print("Missing values per column:\n", df.isnull().sum())

# Fill 'handset_price' with median
df['handset_price'] = df['handset_price'].fillna(df['handset_price'].median())

# Drop rows with missing 'income' (if very few)
df = df.dropna(subset=['income']).copy()

# Fill missing 'data_leftover_mb' with 0 if it logically means no leftover data
df.loc[:, 'data_leftover_mb'] = df['data_leftover_mb'].fillna(0)

# Fill 'average_call_duration' with median if necessary
df.loc[:, 'average_call_duration'] = df['average_call_duration'].fillna(df['average_call_duration'].median())

# Fill 'data_mb_used' with median
df.loc[:, 'data_mb_used'] = df['data_mb_used'].fillna(df['data_mb_used'].median())

# Confirm updated missing values
print("\nMissing values after handling:\n", df.isnull().sum())

Missing values per column:
 college                          0
income                          10
data_overage_mb                  0
data_leftover_mb               100
data_mb_used                   100
text_message_count               0
house                            0
handset_price                  100
over_15mins_calls_per_month      3
average_call_duration          100
reported_satisfaction          751
reported_usage_level           245
considering_change_of_plan     815
leave                            0
id                               0
operating_system                 0
dtype: int64

Missing values after handling:
 college                          0
income                           0
data_overage_mb                  0
data_leftover_mb                 0
data_mb_used                     0
text_message_count               0
house                            0
handset_price                    0
over_15mins_calls_per_month      3
average_call_duration            0
reported_satisfaction          751
reported_usage_level           245
considering_change_of_plan     814
leave                            0
id                               0
operating_system                 0
dtype: int64

### ðŸ”§ Try It Yourself â€“ Part 3


There are still some missing values in:

- `over_15mins_calls_per_month`
- `considering_change_of_plan`

Decide how to handle them based on what makes the most sense:

- Should you fill them with 0, the median, or something else?
- For categories, would a placeholder like "unknown" or the most common value work?
- Or is it better to drop those rows?

3.1. - 3.2. Write and execute code to handle the missing values in the remaining two columns.

3.3. Use `df.isnull().sum()` to confirm all missing values are handled.

In [10]:
# ðŸ”§ 3.1. Add code here


# ðŸ”§ 3.2. Add code here


# ðŸ”§ 3.3. Add code here

Missing values after handling remaining columns:
 college                          0
income                           0
data_overage_mb                  0
data_leftover_mb                 0
data_mb_used                     0
text_message_count               0
house                            0
handset_price                    0
over_15mins_calls_per_month      0
average_call_duration            0
reported_satisfaction          751
reported_usage_level           245
considering_change_of_plan       0
leave                            0
id                               0
operating_system                 0
dtype: int64

## Part 4: Remove Duplicate Rows

Sometimes the same row appears more than once due to data entry or processing mistakes. It's important to check for and remove these duplicates.

Think about:
- Are there rows that are exactly the same?
- If duplicates exist, should you keep the first one, the last one, or none?

Why this matters:
Duplicate rows can inflate totals, distort statistics, and lead to inaccurate conclusions.

In [11]:
# Check for exact duplicates
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Remove them, keeping the first occurrence
df = df.drop_duplicates()

# Confirm result
print(f"Remaining rows after removing duplicates: {len(df)}")

Number of duplicate rows: 17
Remaining rows after removing duplicates: 14989

### ðŸ”§ Try It Yourself â€“ Part 4

1. Use `copied_df.duplicated().sum()` to count how many duplicates are in your dataset.
2. Try using `copied_df.drop_duplicates(keep='last')` instead â€” what changes?
3. Explore whether duplicate rows share the same ID or just values across all columns and comment on your observation.

In [12]:
# ðŸ”§ 4.1. Add code here


# ðŸ”§ 4.2. Add code here

Number of duplicate rows in copied_df: 17
Remaining rows after dropping duplicates keeping last in copied_df: 14999

ðŸ”§ 4.3. Add comment here:

## Part 5: Identify and Remove Obvious Outliers

Outliers are values that fall far outside the normal range. They can come from data entry mistakes or rare cases.

- Use summary statistics or visual tools (like boxplots) to find them.
- Look for clearly unrealistic values â€” e.g., negative prices or extremely high data usage.
- Decide how to handle them:
  - Remove if theyâ€™re errors.
  - Keep if theyâ€™re valid but rare â€” or cap them if needed.

Outliers can distort averages, stretch visualizations, and mislead models, so itâ€™s important to address them carefully.

In [16]:
# Remove negative or nonsensical values using business rules

# Example: remove rows where 'handset_price' is negative
df = df[df['handset_price'] >= 0]

# Example: remove rows with unusually long call durations
df = df[df['average_call_duration'] < 1000]

# Example: remove rows with extremely high text message counts
df = df[df['text_message_count'] < 1000]

# View shape after outlier filtering
print("Shape after removing obvious outliers:", df.shape)

Shape after removing obvious outliers: (14986, 16)

### ðŸ”§ Try It Yourself â€“ Part 5

5.1. Use `df.describe()` to look for columns with extreme minimum or maximum values.

5.2. Set a threshold for what you think is "too high" for:
  - `data_mb_used`
  - `over_15mins_calls_per_month`

5.3. Remove those outliers using boolean filtering like `df = df[df['column'] < threshold]` and then view the size of the df after this step

In [17]:
# ðŸ”§ 5.1 add code here


# ðŸ”§ 5.2 add code here:


# ðŸ”§ 5.3 add code here:

              income  data_overage_mb  data_leftover_mb  data_mb_used  \
count   14986.000000     14986.000000      14986.000000  14986.000000
mean   241977.965768       153.510543         37.262045   4201.313760
std    109612.549926       113.011748         28.120274   2196.751708
min    -65000.000000         0.000000          0.000000    400.000000
25%    147808.250000        54.000000         12.000000   2304.000000
50%    241653.000000       151.000000         34.000000   4221.000000
75%    336442.000000       242.000000         62.000000   6063.000000
max    432000.000000       380.000000         89.000000   8000.000000

       text_message_count         house  handset_price  \
count        14986.000000  1.498600e+04   14986.000000
mean           135.626985  8.771324e+05     795.018617
std             48.835016  2.870422e+05    1235.982599
min             52.000000 -4.630000e+02     215.000000
25%             93.000000  6.442570e+05     499.250000
50%            135.000000  8.762530e+05     777.000000
75%            178.000000  1.098814e+06    1062.000000
max            220.000000  1.456389e+06  125000.000000

       over_15mins_calls_per_month  average_call_duration            id
count                 14986.000000           14986.000000  14986.000000
mean                     10.569331               9.731149  11861.289604
std                       8.401171               5.178082   6812.499283
min                       0.000000               1.000000      2.000000
25%                       3.000000               5.000000   6139.000000
50%                       9.000000              10.000000  11763.500000
75%                      17.000000              14.000000  17398.000000
max                      35.000000              19.000000  25354.000000
Shape after removing outliers based on thresholds: (14986, 16)

## Part 6: Handle Outliers Using Quantiles

Instead of removing outliers, we can limit their impact by capping extreme values â€” a method known as **Winsorizing**.

### How to Do It:
- Use `.quantile()` to identify the 1st and 99th percentiles (or other thresholds).
- Use `.clip()` to cap values to be within that range.

This keeps your dataset intact while reducing the influence of extreme values on your analysis or model.

In [18]:
# Calculate 1st and 99th percentiles for income
income_min, income_max = df['income'].quantile([0.01, 0.99])

# Use .loc to avoid SettingWithCopyWarning and ensure assignment modifies the original DataFrame
df.loc[:, 'income'] = df['income'].clip(lower=income_min, upper=income_max)

# Clip 'data_mb_used' to within 1st and 99th percentiles
usage_min, usage_max = df['data_mb_used'].quantile([0.01, 0.99])
df.loc[:, 'data_mb_used'] = df['data_mb_used'].clip(lower=usage_min, upper=usage_max)

# Clip 'average_call_duration' to reduce the effect of extreme outliers
call_min, call_max = df['average_call_duration'].quantile([0.01, 0.99])
df.loc[:, 'average_call_duration'] = df['average_call_duration'].clip(lower=call_min, upper=call_max)

### ðŸ”§ Try It Yourself â€“ Part 6

6.1. Use `.quantile([0.01, 0.99])` to find the range for:
  - `text_message_count`
  - `over_15mins_calls_per_month`

6.2. Apply `.clip(lower=..., upper=...)` to reduce the impact of those outliers

6.3. Compare the `.describe()` output before and after clipping and comment on what you observe

In [19]:
# ðŸ”§ 6.1 Add code here
text_min, text_max = df['text_message_count'].quantile([0.01, 0.99])
calls_min, calls_max = df['over_15mins_calls_per_month'].quantile([0.01, 0.99])

print(f"Text Message Count Range (1st and 99th percentile): {text_min}, {text_max}")
print(f"Over 15 Mins Calls Per Month Range (1st and 99th percentile): {calls_min}, {calls_max}")

# ðŸ”§ 6.2 Add code here
df.loc[:, 'text_message_count'] = df['text_message_count'].clip(lower=text_min, upper=text_max)
df.loc[:, 'over_15mins_calls_per_month'] = df['over_15mins_calls_per_month'].clip(lower=calls_min, upper=calls_max)

# ðŸ”§ 6.3 Add code here
print("\nDescribe output after clipping:")
print(df.describe())

Text Message Count Range (1st and 99th percentile): 53.0, 219.0
Over 15 Mins Calls Per Month Range (1st and 99th percentile): 0.0, 33.0

Describe output after clipping:
              income  data_overage_mb  data_leftover_mb  data_mb_used  \
count   14986.000000     14986.000000      14986.000000  14986.000000
mean   241988.523288       153.510543         37.262045   4201.271487
std    109520.756068       113.011748         28.120274   2195.555853
min     55704.550000         0.000000          0.000000    471.000000
25%    147808.250000        54.000000         12.000000   2304.000000
50%    241653.000000       151.000000         34.000000   4221.000000
75%    336442.000000       242.000000         62.000000   6063.000000
max    427995.950000       380.000000         89.000000   7929.150000

       text_message_count         house  handset_price  \
count        14986.000000  1.498600e+04   14986.000000
mean           135.626318  8.771324e+05     795.018617
std             48.811500  2.870422e+05    1235.982599
min             53.000000 -4.630000e+02     215.000000
25%             93.000000  6.442570e+05     499.250000
50%            135.000000  8.762530e+05     777.000000
75%            178.000000  1.098814e+06    1062.000000
max            219.000000  1.456389e+06  125000.000000

       over_15mins_calls_per_month  average_call_duration            id
count                 14986.000000           14986.000000  14986.000000
mean                     10.558254               9.731149  11861.289604
std                       8.370427               5.178082   6812.499283
min                       0.000000               1.000000      2.000000
25%                       3.000000               5.000000   6139.000000
50%                       9.000000              10.000000  11763.500000
75%                      17.000000              14.000000  17398.000000
max                      33.000000              19.000000  25354.000000

ðŸ”§ 6.3 Add comment here:

## ðŸ”§ Part 7: Reflection (100 words or less per question)

7.1. Which step fixed the most issues in the dataset?

7.2. What surprised you about the structure or values?

7.3. Do you feel this data is now ready for transformation in Lab 7?


---
ðŸ”§ **Add comment here:**

---

## Export Your Notebook to Submit in Canvas
- Use the instructions from Lab 1

In [ ]:
!jupyter nbconvert --to html "lab_06_LastnameFirstname.ipynb"